/* * {
    font-family: 'Righteous', cursive;
} */
html {
    background-color: white;
}
button {
    background-color: red;
}
main{
    margin:0;
    padding:0;
    
}
/* header{
        font-family: 'Righteous', cursive;

} */